{% extends 'base.html' %}

{% block title %}Answer Questions - LemmeCheckAI{% endblock %}

{% block content %}
<div class="questions-container">
    <h2 class="questions-title">Answer the Questions</h2>
    <form method="POST">
        {% csrf_token %}
        {% for question in questions %}
            <div class="form-group">
                <label class="question-label">{{ question.question_name }}</label>
                <ul class="subquestions-list">
                    {% for subquestion in question.questions%}
                        <li class="subquestion">
                            <span>{{ subquestion }}</span>
                            <!-- Use forloop.parentloop.counter and forloop.counter to make unique name -->
                            <input type="text" name="answer_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="form-control" placeholder="Enter your answer">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <button type="submit" class="btn-submit">Submit Answers</button>
    </form>
</div>
{% endblock %}
